<launch>
    <!-- Start the rosserial_python node to establish a connection with Arduino -->
    <node name="serial_node" pkg="rosserial_python" type="serial_node.py" output="screen" args="/dev/ttyACM0" />
    <node name="ball_det" pkg="cam_pkg" type="ball_det.py" />
    <node name="dog_legs" pkg="dog_pkg" type="dog_legs.py" />
    <node name="main" pkg="dog_pkg" type="main.py" />

</launch>